body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 2.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 3.25rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 2.6rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.25rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.25rem;
}
.display-7 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.08rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 1.82rem;
    font-size: calc( 1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.08rem;
    font-size: calc( 1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sTKtXlHDBx {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sTKtXlHDBx nav.navbar {
  position: fixed;
}
.cid-sTKtXlHDBx .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sTKtXlHDBx .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sTKtXlHDBx .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sTKtXlHDBx .dropdown-item:hover,
.cid-sTKtXlHDBx .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.cid-sTKtXlHDBx .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sTKtXlHDBx .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sTKtXlHDBx .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sTKtXlHDBx .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sTKtXlHDBx .nav-link {
  position: relative;
}
.cid-sTKtXlHDBx .container {
  display: flex;
  margin: auto;
}
.cid-sTKtXlHDBx .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sTKtXlHDBx .dropdown-menu,
.cid-sTKtXlHDBx .navbar.opened {
  background: #ff8a8a !important;
}
.cid-sTKtXlHDBx .nav-item:focus,
.cid-sTKtXlHDBx .nav-link:focus {
  outline: none;
}
.cid-sTKtXlHDBx .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sTKtXlHDBx .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sTKtXlHDBx .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sTKtXlHDBx .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sTKtXlHDBx .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sTKtXlHDBx .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sTKtXlHDBx .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ff8a8a;
}
.cid-sTKtXlHDBx .navbar.opened {
  transition: all 0.3s;
}
.cid-sTKtXlHDBx .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sTKtXlHDBx .navbar .navbar-logo img {
  width: auto;
}
.cid-sTKtXlHDBx .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sTKtXlHDBx .navbar.collapsed {
  justify-content: center;
}
.cid-sTKtXlHDBx .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sTKtXlHDBx .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sTKtXlHDBx .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-sTKtXlHDBx .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sTKtXlHDBx .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sTKtXlHDBx .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sTKtXlHDBx .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sTKtXlHDBx .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sTKtXlHDBx .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sTKtXlHDBx .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sTKtXlHDBx .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sTKtXlHDBx .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sTKtXlHDBx .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sTKtXlHDBx .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sTKtXlHDBx .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sTKtXlHDBx .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sTKtXlHDBx .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sTKtXlHDBx .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sTKtXlHDBx .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sTKtXlHDBx .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sTKtXlHDBx .navbar.navbar-short {
  min-height: 60px;
}
.cid-sTKtXlHDBx .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sTKtXlHDBx .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sTKtXlHDBx .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sTKtXlHDBx .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sTKtXlHDBx .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sTKtXlHDBx .dropdown-item.active,
.cid-sTKtXlHDBx .dropdown-item:active {
  background-color: transparent;
}
.cid-sTKtXlHDBx .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sTKtXlHDBx .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sTKtXlHDBx .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sTKtXlHDBx .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ff8a8a;
}
.cid-sTKtXlHDBx .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sTKtXlHDBx .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sTKtXlHDBx ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sTKtXlHDBx .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sTKtXlHDBx button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sTKtXlHDBx button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sTKtXlHDBx button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sTKtXlHDBx button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sTKtXlHDBx button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sTKtXlHDBx button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sTKtXlHDBx nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sTKtXlHDBx nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sTKtXlHDBx nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sTKtXlHDBx nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sTKtXlHDBx .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sTKtXlHDBx a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sTKtXlHDBx .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sTKtXlHDBx .navbar {
    height: 70px;
  }
  .cid-sTKtXlHDBx .navbar.opened {
    height: auto;
  }
  .cid-sTKtXlHDBx .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sTKu5Lh3zr {
  background-image: url("../../../assets/images/background15.jpeg");
}
.cid-sTKu5Lh3zr .social-row .soc-item {
  display: inline-block;
  text-align: center;
  margin-bottom: 1rem;
  margin-right: .7rem;
}
.cid-sTKu5Lh3zr .social-row .soc-item .mbr-iconfont {
  font-size: 32px;
  border-radius: 50%;
  padding: 0.6rem;
  border: 2px solid #232323;
  transition: all 0.3s;
  color: #232323;
}
.cid-sTKu5Lh3zr .social-row .soc-item .mbr-iconfont:hover {
  background-color: #232323;
  color: #ffffff;
}
.cid-sTKuHOCw7n {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-sTKuHOCw7n .line {
  background-color: #6592e6;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-sTKuVceDqU {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ff8a8a;
}
.cid-sTKuVceDqU .content-wrapper {
  background: #efcdcd;
}
@media (max-width: 991px) {
  .cid-sTKuVceDqU .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-sTKuVceDqU .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sTKuVceDqU .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sTKuVceDqU .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sTKuVceDqU .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sTKuVceDqU .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-sTKuVceDqU .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sTKH7MfJ7L {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #f3e7f8;
}
@media (max-width: 991px) {
  .cid-sTKH7MfJ7L .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sTKH7MfJ7L img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sTKH7MfJ7L .text-wrapper {
    padding: 2rem;
  }
}
.cid-sTKuWtWSFa {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ff8a8a;
}
.cid-sTKuWtWSFa .content-wrapper {
  background: #efcdcd;
}
@media (max-width: 991px) {
  .cid-sTKuWtWSFa .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sTKuWtWSFa .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sTKuWtWSFa .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sTKuWtWSFa .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sTKuWtWSFa .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-sTKuWtWSFa .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sTKL6VYk6g {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #f3e7f8;
}
@media (max-width: 991px) {
  .cid-sTKL6VYk6g .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sTKL6VYk6g .row {
  flex-direction: row-reverse;
}
.cid-sTKL6VYk6g img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sTKL6VYk6g .text-wrapper {
    padding: 2rem;
  }
}
.cid-sTKvp2BGqm {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-sTKvp2BGqm .line {
  background-color: #4479d9;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-sTKvsXNWnd {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ff8a8a;
}
.cid-sTKvsXNWnd .content-wrapper {
  background: #efcdcd;
}
@media (max-width: 991px) {
  .cid-sTKvsXNWnd .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-sTKvsXNWnd .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sTKvsXNWnd .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sTKvsXNWnd .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sTKvsXNWnd .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sTKvsXNWnd .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-sTKvsXNWnd .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sTKvsXNWnd .mbr-text,
.cid-sTKvsXNWnd .mbr-section-btn {
  text-align: left;
}
.cid-sTKvtHldbJ {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-sTKvtHldbJ .content-wrapper {
  background: #e1d0de;
}
@media (max-width: 991px) {
  .cid-sTKvtHldbJ .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sTKvtHldbJ .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sTKvtHldbJ .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sTKvtHldbJ .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sTKvtHldbJ .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-sTKvtHldbJ .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sTKQyLmxx1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ff8a8a;
}
.cid-sTKQyLmxx1 .content-wrapper {
  background: #efcdcd;
}
@media (max-width: 991px) {
  .cid-sTKQyLmxx1 .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-sTKQyLmxx1 .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sTKQyLmxx1 .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sTKQyLmxx1 .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sTKQyLmxx1 .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sTKQyLmxx1 .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-sTKQyLmxx1 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sTKQzJyXfg {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-sTKQzJyXfg .content-wrapper {
  background: #f3e7f8;
}
@media (max-width: 991px) {
  .cid-sTKQzJyXfg .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sTKQzJyXfg .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sTKQzJyXfg .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sTKQzJyXfg .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sTKQzJyXfg .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-sTKQzJyXfg .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sTKvJsIKoQ {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-sTKvJsIKoQ .line {
  background-color: #6592e6;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-sTKvL1xtRC {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ff8a8a;
}
.cid-sTKvL1xtRC .content-wrapper {
  background: #efcdcd;
}
@media (max-width: 991px) {
  .cid-sTKvL1xtRC .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-sTKvL1xtRC .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sTKvL1xtRC .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sTKvL1xtRC .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sTKvL1xtRC .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sTKvL1xtRC .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-sTKvL1xtRC .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sTKvLTfN2G {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fafafa;
}
.cid-sTKvLTfN2G .content-wrapper {
  background: #f3e7f8;
}
@media (max-width: 991px) {
  .cid-sTKvLTfN2G .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sTKvLTfN2G .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sTKvLTfN2G .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sTKvLTfN2G .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sTKvLTfN2G .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-sTKvLTfN2G .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sTNN0sJMJo {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ff8a8a;
}
.cid-sTNN0sJMJo .content-wrapper {
  background: #efcdcd;
}
@media (max-width: 991px) {
  .cid-sTNN0sJMJo .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-sTNN0sJMJo .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sTNN0sJMJo .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sTNN0sJMJo .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sTNN0sJMJo .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sTNN0sJMJo .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-sTNN0sJMJo .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sTNN0YGVs6 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-sTNN0YGVs6 .content-wrapper {
  background: #f3e7f8;
}
@media (max-width: 991px) {
  .cid-sTNN0YGVs6 .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sTNN0YGVs6 .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sTNN0YGVs6 .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sTNN0YGVs6 .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sTNN0YGVs6 .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-sTNN0YGVs6 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sTKw0JvVXr {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sTKw0JvVXr .line {
  background-color: #6592e6;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-sTKw2vqbWT {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ff8a8a;
}
.cid-sTKw2vqbWT .content-wrapper {
  background: #efcdcd;
}
@media (max-width: 991px) {
  .cid-sTKw2vqbWT .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-sTKw2vqbWT .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sTKw2vqbWT .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sTKw2vqbWT .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sTKw2vqbWT .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sTKw2vqbWT .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-sTKw2vqbWT .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sTKw3sehUs {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-sTKw3sehUs .content-wrapper {
  background: #f3e7f8;
}
@media (max-width: 991px) {
  .cid-sTKw3sehUs .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sTKw3sehUs .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sTKw3sehUs .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sTKw3sehUs .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sTKw3sehUs .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-sTKw3sehUs .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sTNRo1PlC8 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ff8a8a;
}
.cid-sTNRo1PlC8 .content-wrapper {
  background: #efcdcd;
}
@media (max-width: 991px) {
  .cid-sTNRo1PlC8 .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-sTNRo1PlC8 .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sTNRo1PlC8 .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sTNRo1PlC8 .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sTNRo1PlC8 .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sTNRo1PlC8 .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-sTNRo1PlC8 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sTNRosZz9B {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-sTNRosZz9B .content-wrapper {
  background: #f3e7f8;
}
@media (max-width: 991px) {
  .cid-sTNRosZz9B .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sTNRosZz9B .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sTNRosZz9B .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sTNRosZz9B .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sTNRosZz9B .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-sTNRosZz9B .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sTKwgBhMpd {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-sTKwgBhMpd .line {
  background-color: #6592e6;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-sTKwhDavxG {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ff8a8a;
}
.cid-sTKwhDavxG .content-wrapper {
  background: #efcdcd;
}
@media (max-width: 991px) {
  .cid-sTKwhDavxG .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-sTKwhDavxG .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sTKwhDavxG .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sTKwhDavxG .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sTKwhDavxG .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sTKwhDavxG .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-sTKwhDavxG .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sTKwish95m {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-sTKwish95m .content-wrapper {
  background: #f3e7f8;
}
@media (max-width: 991px) {
  .cid-sTKwish95m .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sTKwish95m .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sTKwish95m .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sTKwish95m .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sTKwish95m .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-sTKwish95m .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sTNX1PrD72 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ff8a8a;
}
.cid-sTNX1PrD72 .content-wrapper {
  background: #efcdcd;
}
@media (max-width: 991px) {
  .cid-sTNX1PrD72 .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-sTNX1PrD72 .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sTNX1PrD72 .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sTNX1PrD72 .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sTNX1PrD72 .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sTNX1PrD72 .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-sTNX1PrD72 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sTNX2gn8CH {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sTNX2gn8CH .content-wrapper {
  background: #f3e7f8;
}
@media (max-width: 991px) {
  .cid-sTNX2gn8CH .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sTNX2gn8CH .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sTNX2gn8CH .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sTNX2gn8CH .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sTNX2gn8CH .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-sTNX2gn8CH .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sTKwE8bRSp {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-sTKwE8bRSp .line {
  background-color: #6592e6;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-sTKwFuUQkY {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ff8a8a;
}
.cid-sTKwFuUQkY .content-wrapper {
  background: #efcdcd;
}
@media (max-width: 991px) {
  .cid-sTKwFuUQkY .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-sTKwFuUQkY .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sTKwFuUQkY .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sTKwFuUQkY .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sTKwFuUQkY .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sTKwFuUQkY .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-sTKwFuUQkY .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sTKwGDUxRr {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-sTKwGDUxRr .content-wrapper {
  background: #f3e7f8;
}
@media (max-width: 991px) {
  .cid-sTKwGDUxRr .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sTKwGDUxRr .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sTKwGDUxRr .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sTKwGDUxRr .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sTKwGDUxRr .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-sTKwGDUxRr .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sTPBNlR2c7 {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #ff8a8a;
}
.cid-sTPBNlR2c7 .content-wrapper {
  background: #efcdcd;
}
@media (max-width: 991px) {
  .cid-sTPBNlR2c7 .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-sTPBNlR2c7 .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sTPBNlR2c7 .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sTPBNlR2c7 .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sTPBNlR2c7 .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sTPBNlR2c7 .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-sTPBNlR2c7 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sTPCTrowHe {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sTPCTrowHe .content-wrapper {
  background: #f3e7f8;
}
@media (max-width: 991px) {
  .cid-sTPCTrowHe .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sTPCTrowHe .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sTPCTrowHe .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sTPCTrowHe .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sTPCTrowHe .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-sTPCTrowHe .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sTKx07jsn0 {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background: #ffffff;
}
.cid-sTKx07jsn0 .google-map {
  height: 30rem;
  position: relative;
}
.cid-sTKx07jsn0 .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-sTKx07jsn0 .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-sTKx07jsn0 .google-map[data-state] {
  background: #e9e5dc;
}
.cid-sTKx07jsn0 .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-sTKx1ARhVW {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
  overflow: hidden;
}
